#bar {
    display: none;
}
label {
    display: inline-block;
    width: 200px;
    height: 20px;
    background: green;
    text-align: end;
}
label>.fa-times {
    display: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 0;
    transition: all 1s ease;
    overflow: hidden;
}
li {
    background-color: rgb(202, 202, 202);
    text-align: center;
    width: 200px;
}
li:hover {
    position: relative;
    background-color: rgb(153, 152, 152);
    transition: all 0.5s ease;
    box-shadow: 0 0 5px black;
}
li:hover>a {
    color: white;
    transition: color 0.5s ease;
}
a {
    text-decoration: none;
    color: black;
}
#bar:checked + label+.menu>ul {
    margin: -5px -5px -5px -5px;
    padding: 5px 5px 5px 5px;
    height: 100px;
    transition: height 1s ease;
}
#bar:checked + label>.fa-bars {
    display: none;
}
#bar:checked + label>.fa-times {
    display: inline-block;
}